.header-center {
  text-align: center;
}

.search-bar {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.textfield {
  margin: 0 auto;
  display: inline;
}

td {
  overflow-wrap: break-word;
}